# SPDX-License-Identifier: MIT OR Apache-2.0

root = true

[*]
charset = utf-8
indent_size = 4
indent_style = tab
insert_final_newline = true
spelling_language = en-US
tab_width = 4
trim_trailing_whitespace = true

[*.toml]
quote_type = double
